@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --color-site-1: #100;
  --color-site-1-1: #300;
  --color-site-1-c: #eee;
  --color-site-1-c-1: #fcc;
  --color-site-2: rgba(190, 1, 1, 0.1);
  --color-site-2-1: rgba(190, 1, 1, 0.8);
  --font-text: "Roboto", sans-serif;
  --font-heading: "Josefin Slab", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-text);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-site-1);
  background-image: radial-gradient(
    circle,
    var(--color-site-1-1),
    var(--color-site-1)
  );
  color: var(--color-site-1-c);
  scroll-behavior: smooth;
}
[id]::before {
  content: "";
  display: block;
  height: 4.5rem;
  margin-top: -4.5rem;
  pointer-events: none;
}
.main-content--with-nav {
  padding-left: 10rem;
}
.table-of-contents {
  --width: 10rem;
  position: sticky;
  top: 4.5rem;
  left: 0;
  width: var(--width);
  height: 0;
  margin-left: calc(-1 * var(--width));
  scroll-target-group: auto;
}
.table-of-contents__link {
  color: var(--color-site-1-c-1);
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: all 0.3s;
  opacity: 0.5;
}
.table-of-contents__link:hover {
  background-color: var(--color-site-2);
  opacity: 1;
}
.table-of-contents__link:target-current {
  color: var(--color-site-1-c);
  opacity: 1;
}
@media (max-width: 974px) {
  .main-content--with-nav {
    padding-left: 0;
  }
  .table-of-contents {
    display: none;
  }
}
@media (min-width: 1165px) {
  .table-of-contents {
    --width: 15rem;
    font-size: 1.8rem;
    font-weight: 300;
  }
  .table-of-contents__link {
    padding: 0.5rem 2rem;
  }
}
@media (min-width: 1330px) {
  .main-content--with-nav {
    padding-left: 0;
  }
}
.page {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}
[aria-hidden="true"] {
  display: none !important;
}
.nav {
  align-items: center;
  display: flex;
  min-height: 4rem;
  justify-content: center;
  background-color: var(--color-site-1-1);
  font-family: var(--font-heading);
  flex-wrap: wrap;
}
.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: var(--color-site-1-c-1);
  white-space: nowrap;
  background-color: transparent;
  padding: 1rem 2rem;
  opacity: 0.5;
  transition: all 0.3s;
  font-size: 1.4rem;
}
.nav-link:hover {
  background-color: var(--color-site-2);
  opacity: 1;
}
.nav-link--current {
  color: var(--color-site-1-c);
  text-shadow: 0 0 1rem var(--color-site-2-1);
  opacity: 1;
}
.nav-toggle {
  display: none;
}
.nav-wrapper {
  position: sticky;
  top: 0;
  z-index: 1;
}
@media (max-width: 599px) {
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    overflow: hidden;
    border: 0 solid;
    border-bottom-right-radius: 1rem;
  }
  .nav-link {
    padding: 1rem 2rem;
    width: 100%;
    box-sizing: border-box;
  }
  .nav-toggle {
    background-color: var(--color-site-1-1);
    color: var(--color-site-1-c);
    border: 0 solid;
    border-bottom-right-radius: 1rem;
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    cursor: pointer;
  }
  .toggle-wrapper {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .nav-link {
    font-size: 1rem;
    padding: 1rem;
  }
}
.icon {
  height: 1em;
  width: 1em;
  fill: currentColor;
}
.site-footer {
  background-color: var(--color-site-1-1);
  color: var(--color-site-1-c);
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
.site-header__heading,
.site-header__subheading,
.section__heading,
.article__heading,
.article-section__heading,
.table-of-contents__heading {
  font-family: var(--font-heading);
  font-weight: 400;
  margin: 0 auto;
  max-width: 50rem;
  line-height: 1em;
  box-sizing: border-box;
}
.table-of-contents__heading {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 2rem;
}
@media (min-width: 1165px) {
  .table-of-contents__heading {
    font-size: 1.2rem;
  }
}
.site-header__heading,
.site-header__subheading {
  padding: 4rem 2rem;
  text-align: center;
  text-shadow: 0 0 2rem var(--color-site-2-1);
}
.section__heading,
.article__heading {
  padding: 0 0.5rem 1rem;
}
.site-header__heading {
  padding-bottom: 0;
  font-size: 6rem;
}
.site-header__subheading {
  padding-top: 0;
  font-size: 2rem;
}
.section__heading,
.article__heading,
.article-section__heading {
  color: var(--color-site-1-c-1);
}
.section__heading {
  font-size: 2rem;
  padding-bottom: 0;
}
.section__heading::after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.1rem;
  background-color: var(--color-site-1-c-1);
  margin: 1.5rem 0;
}
.article__heading {
  font-size: 1.6rem;
}
.article-section__heading {
  font-size: 1.2rem;
  padding: 0 1rem 0.5rem;
}
.section__text,
.article__text,
.article-section__text {
  padding: 1rem;
  padding-top: 0;
  margin: 0 auto;
  max-width: 50rem;
  box-sizing: border-box;
}
.section__text:last-child,
.article__text:last-child,
.article-section__text:last-child {
  padding-bottom: 2rem;
}
.quote {
  font-style: italic;
  padding: 2rem 3rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.1em;
  margin: 1rem auto 2rem;
  width: calc(100vw - 4rem);
  max-width: 50rem;
  border: 0.1rem solid var(--color-site-1-c-1);
  border-radius: 1rem;
  box-sizing: border-box;
  text-align: center;
}
.link {
  color: var(--color-site-1-c-1);
  text-decoration: none;
  border-bottom: 0.1rem solid;
}
.button-group {
  display: grid;
  gap: 1rem;
  max-width: max-content;
  margin: 0 auto 0 2rem;
  padding-bottom: 3rem;
}
.button {
  color: var(--color-site-1);
  background-color: var(--color-site-1-c-1);
  padding: 0.5rem 1rem;
  font: inherit;
  border: 0 solid;
  border-radius: 0.5rem;
  transition: all 0.3s;
  cursor: pointer;
}
.button--link {
  display: inline-block;
  text-decoration: none;
}
.details {
  margin: 1rem auto;
  max-width: 50rem;
  padding: 0 1rem;
  box-sizing: border-box;
}
.details__summary {
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.section__list,
.article__list,
.article-section__list {
  padding: 0rem 4rem 1rem;
  margin: 0 auto;
  max-width: 50rem;
  box-sizing: border-box;
}
.section__list-item,
.article__list-item,
.article-section__list-item {
  padding: 0 0 0.5rem;
}
.banner-image {
  width: 80%;
  height: 15rem;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 85% 100%, 0 100%);
  margin-bottom: 2rem;
}
.figure {
  text-align: center;
  margin: 0;
  padding: 0 1rem 1rem;
}
.figure__image {
  max-width: 100%;
  max-height: 32rem;
  object-fit: contain;
  border: 0 solid;
  border-radius: 1rem;
  overflow: hidden;
}

@media print {
  @page {
    margin: 0;
    padding: 0.25in;
  }
  * {
    margin: 0 !important;
  }
  #download,
  .nav {
    display: none;
  }
  .table-of-contents {
    display: none;
  }
  .main-content {
    padding-left: 0;
    padding: 1em;
    box-sizing: border-box;
    max-width: 100vw;
  }
  .section:not(:nth-of-type(2)) {
    break-inside: avoid;
  }
  .quote {
    border: 0;
    padding: 3.5rem 5rem 3rem;
    outline: 0.1rem solid var(--color-site-1-c-1);
    outline-offset: -2rem;
  }
  .quote::after {
    content: '';
    display: block;
    width: 100%;
    height: 1rem;
  }
}
